*,
*::after,
*::before {
  padding: 0;
  margin: 0; }

.copy-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

body {
  color: #2bc20e;
  background-color: #1e1f21;
  overflow-x: hidden !important;
  overflow-y: scroll !important; }

body::-webkit-scrollbar {
  width: 1rem !important; }

body::-webkit-scrollbar-track {
  background: #1e1f21 !important; }

body::-webkit-scrollbar-thumb {
  background-color: #2bc20e !important;
  border-radius: 1px !important;
  border: 1px solid #2bc20e !important; }

.form {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem; }

.logo-images {
  width: 72px;
  height: 72px;
  margin-bottom: 1rem; }

.form-control {
  border-color: #0c8900;
  color: #2bc20e;
  height: 45px;
  border-width: 1px;
  background: #1e1f21;
  margin-top: 4px; }

.form-control::selection {
  background-color: #0c8900;
  color: white; }

.form-control:focus {
  background: #1e1f21;
  border-color: #2bc20e;
  color: #2bc20e; }

.form-control:not(:first-child) {
  margin-bottom: 4px; }

.copyright {
  padding: 0;
  margin: 0.2rem !important;
  font-size: 1rem;
  color: #0c8900; }

.text-center {
  text-align: center; }

.Alink {
  text-align: center;
  color: #0c8900;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  display: block; }

.Alink:hover {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #2bc20e;
  font-size: 1.1rem; }

.Simpletext {
  margin-right: 20px; }

.clock-container {
  width: 100vw;
  text-align: center; }

.clock-font {
  margin-right: 5px; }

.topnav {
  overflow: hidden;
  background-color: #1e1f21;
  border-style: solid;
  border-width: thin;
  border-color: #2bc20e;
  border-left: 0;
  border-right: 0;
  padding: 10px; }
  .topnav .navbar-brand {
    font-weight: bold; }
  .topnav .nav-image {
    margin-right: 5px;
    height: 30px; }
  .topnav .navbar-brand:hover {
    background-color: #1e1f21;
    color: #2bc20e; }
  .topnav a {
    float: left;
    display: block;
    color: #2bc20e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem; }
  .topnav a:not(:first-child) {
    margin-left: 4px; }
  .topnav a:hover {
    transition: background-color 0.5s;
    background-color: #2bc20e;
    color: #010b12;
    border-radius: 5px; }
  .topnav .active {
    background-color: #2bc20e;
    color: #010b12;
    text-align: center;
    border-radius: 5px; }
  .topnav .active:hover {
    background-color: #2bc20e;
    color: #010b12; }
  .topnav .icon {
    display: none;
    color: #0c8900;
    border-style: none; }
  .topnav .logout {
    color: red; }
  .topnav .logout:hover {
    color: white;
    background-color: red; }

@media screen and (max-width: 980px) {
  .topnav a {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 980px) {
  .topnav.responsive {
    position: relative;
    z-index: 1; }
  .topnav.responsive .icon {
    position: relative;
    float: right;
    color: #2bc20e;
    border-style: none;
    margin-right: 12px;
    transition: background-color 0.5s; }
  .topnav.responsive .icon:hover {
    color: #010b12; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    border-style: none !important; }
  .navbar-brand {
    float: left;
    display: block !important; } }

.swal2-container .swal2-popup {
  border-style: solid;
  border-color: #2bc20e !important;
  border-width: thin;
  background-color: #1e1f21 !important; }
  .swal2-container .swal2-popup .swal2-title {
    color: #2bc20e !important;
    font-weight: lighter; }
  .swal2-container .swal2-popup .swal2-html-container {
    color: #2bc20e; }

.navbar-responsive {
  width: 100vw;
  position: absolute;
  z-index: 2; }

.form-control::-webkit-calendar-picker-indicator {
  opacity: 1;
  background-color: #2bc20e;
  color: #2bc20e !important; }

#date::-webkit-calendar-picker-indicator {
  visibility: hidden !important; }

.react-datepicker-wrapper {
  display: block !important;
  margin-bottom: 8px; }

.react-datepicker-popper .react-datepicker {
  border: thin solid #2bc20e; }
  .react-datepicker-popper .react-datepicker .react-datepicker__triangle {
    border: thin solid #2bc20e !important;
    border-bottom-color: #2bc20e; }
  .react-datepicker-popper .react-datepicker .react-datepicker__navigation--next {
    border-left-color: #2bc20e; }
  .react-datepicker-popper .react-datepicker .react-datepicker__navigation--previous {
    border-right-color: #2bc20e; }
  .react-datepicker-popper .react-datepicker .react-datepicker__month-container {
    color: #2bc20e !important; }
    .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__header {
      border: thin solid #2bc20e;
      background-color: #1e1f21 !important;
      color: #2bc20e !important; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__header .react-datepicker__current-month {
        color: #2bc20e; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__header .react-datepicker__day-name {
        color: #2bc20e !important; }
    .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__month {
      margin: 0 !important;
      border: thin solid #2bc20e;
      background-color: #1e1f21 !important;
      color: #2bc20e !important; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day {
        margin: 0 !important;
        border: thin solid #2bc20e;
        border-radius: 4px;
        color: #2bc20e !important; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day:hover {
        background-color: #2bc20e !important;
        color: #010b12 !important; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day--keyboard-selected {
        background-color: #2bc20e !important;
        color: #010b12 !important; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day--selected {
        background-color: #2bc20e !important;
        color: #010b12 !important; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day--disabled {
        border: thin solid #010b12 !important;
        color: #010b12 !important; }
      .react-datepicker-popper .react-datepicker .react-datepicker__month-container .react-datepicker__month .react-datepicker__week .react-datepicker__day--disabled:hover {
        background-color: #1e1f21 !important;
        color: #010b12 !important; }

.container {
  padding: 0 !important; }

.item-container {
  position: absolute;
  background-color: #1e1f21;
  z-index: 1;
  width: 100%;
  border: thin solid #2bc20e;
  font-size: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }
  .item-container .item:not(:first-child) {
    border-top: thin solid #2bc20e; }
  .item-container .item:hover {
    background-color: #2bc20e;
    color: #010b12; }

.item-container::-webkit-scrollbar {
  width: 0.5rem; }

.item-container::-webkit-scrollbar-track {
  background-color: #1e1f21; }

.item-container::-webkit-scrollbar-thumb {
  background-color: #2bc20e; }

.find-train-form {
  display: inline;
  position: static !important;
  font-size: 0.8rem !important;
  margin: 10px; }
  .find-train-form .row .col {
    padding: 0 !important; }

.form-index {
  max-width: 320px !important;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0, 50%); }
  .form-index .col {
    padding: 0 !important; }

.booking-ticket-container {
  margin-top: 0.8rem;
  margin-bottom: 1rem; }
  .booking-ticket-container .row .col {
    margin: 0 !important;
    padding: 0 !important; }
  .booking-ticket-container .row .book-ticket-nav-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.train-details-container {
  border: thin solid #2bc20e; }
  .train-details-container .container {
    padding: 1rem !important;
    font-size: 1rem; }
    .train-details-container .container .row .col .item-title {
      color: #2bc20e;
      margin-bottom: 0 !important;
      font-weight: bold; }
    .train-details-container .container .row .col .item-value {
      color: #2bc20e;
      font-weight: lighter; }
    .train-details-container .container .row .button {
      margin-top: 2rem !important; }

.button-ticket-center {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto; }

.not-found-text {
  color: red !important; }

.train-details-container:not(:first-child) {
  margin-top: 0.8rem;
  border-radius: 5px; }

.passanger-details {
  border: thin solid #2bc20e;
  width: 700px;
  z-index: 1;
  background-color: #1e1f21 !important;
  padding: 0.8rem !important;
  margin-right: auto;
  margin-left: auto; }

.passanger-details-invisible {
  visibility: hidden;
  border: thin solid #2bc20e;
  width: 700px;
  background-color: #1e1f21;
  padding: 0.8rem !important;
  margin-right: auto;
  margin-left: auto; }

.fa-times {
  color: #2bc20e !important; }

.train-booked-container {
  border: thin solid #2bc20e;
  padding: 0.9rem !important;
  border-radius: 5px; }
  .train-booked-container .container {
    padding: 1rem !important;
    font-size: 1rem; }
    .train-booked-container .container .row .button {
      margin-top: 2rem !important; }

.train-booked-container:not(:first-child) {
  margin-top: 2rem; }

.item-title {
  color: #2bc20e;
  margin-bottom: 0 !important;
  font-weight: bold; }

.item-value {
  color: #2bc20e;
  font-weight: lighter; }
